@import './mixins.scss';

a {
  text-decoration: none;
  color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;

  @include for-tablet {
    padding: 0 20px;
  }

  @include for-mobile {
    padding: 0 10px;
  }
}

.auth-form {
  max-width: 500px;
  margin: 0 auto;
}

.auth-button {
  @include for-mobile {
    display: block;
    margin: 0 auto;
  }
}

.ml-8 {
  margin-left: 8px;
}

.mt-0 {
  margin-top: 0;
}

.mt-8 {
  margin-top: 8px;
}

.pt-0 {
  padding-top: 0;
}

.mw-500 {
  max-width: 500px;
}

.max-w-700 {
  max-width: 700px;
}

.title-md {
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  color: $dark;
  letter-spacing: 0.05em;
}

.auth-link {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: $primary;
  border: none;
  letter-spacing: 0.05em;

  &:hover {
    text-decoration: underline;
  }
}

.form-wrapper {
  padding-top: 15%;
}
